// srcディレクトリ
const SRC = 'src';

// 出力先ディレクトリ
const DIST = 'dist';

// 無視するファイル名リスト
const IGNORE_FILES = [
    '.DS_Store',
    'LICENSE'
];

// srcフォルダ内のディレクトリ名
const TARGET = '';

// 登録カテゴリ
const CATEGORY = '';

// ライセンス
const LICENSE = '';

module.exports = {SRC, DIST, TARGET, CATEGORY, IGNORE_FILES}
